@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
}

@layer base {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
}
